header{
    background-color: #6C7A89;
}

a {
    color: inherit;
    text-decoration: none;
  }

.pagename{
    display: inline-block;
    color:#E0E7E9;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-left: 15%;
}

.login{
    display: inline-block;
    float: right;
    align-items: center;
    padding-right: 15%;
    color: #E0E7E9;
    font-size: 14px;
    font-weight: 500;
}

.center{
    text-align: center;
}

.box{
    background-color: beige;
    border: 2px solid black;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.box:hover{
    background-color: #9e9e9e;
}

.month{
    text-align: center;
    color: brown;
}

.day{
    background-color:darkcyan;
    color: whitesmoke;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 0.7;
    border: 1px solid black;
}

.day_num{
    color: black;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 0.7;
    padding-top: 7px;

}

.past {
    color: rgb(141, 141, 141);
}


table > thead {
    height: 40px;
}

tbody > tr > td {
    text-align: center;
    height: 80px;
    border: 1px solid black;
}

tbody > tr > td > a {
    display: block;
    width: 100%;
    height: 100%;
}

tbody > tr > td:hover {
    background-color: #9e9e9e
}

tbody > tr > td:active {
    background-color: rgb(80, 80, 80)
}

.left{
    margin-left: 15%;
    float: left;
}

.right{
    margin-right: 15%;
    float: right;
    background-color: rgba(156, 146, 146, 0.336);
    border-radius: 5px;
}

.fix{
    margin-left: 15%;
    display: inline-block;
    background-color: blue;
    color: white;
    border-radius: 5px;
}

.delete{
    display: inline-block;
    background-color: red;
    color: white;
    border-radius: 5px;
}